body {
    background: url(https://image.shutterstock.com/image-illustration/abstract-science-fiction-futuristic-background-600w-518392324.jpg);
    background-repeat: repeat;
    
  }
  
  .container {
    text-align: right;
  }
  
  .child {
      display: right;
  }

